.rating {
    display: flex;
    gap: 0.3rem;
  }
  
  .rating input {
    display: none; /* Hide the radio buttons */
  }
  
  .rating label {
    cursor: pointer;
  }
  
  .rating svg {
    width: 2rem;
    height: 2rem;
    fill: none;
    stroke: #666;
    stroke-width: 2;
    transition: fill 0.2s ease-in-out;
  }
  
  .rating label.filled svg {
    fill: #ffc73a;
    stroke: #ffc73a;
  }
  